* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit";
  color: white;
}

.contenedor {
  margin: auto;
  max-width: 1280px;
  width: 90%;
}

header {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(/pages/Images/band.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  max-width: 992px;
  margin: 0 auto;
}

li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}

li a:hover {
  background-color: white;
  color: #212121;
  transition: 0.5s;
  padding: 8px;
  border-radius: 12px;
}

a {
  text-decoration: none;
  margin: 12px;
}

.titular {
  text-align: center;
  padding-bottom: 320px;
}

.titular h1 {
  text-align: center;
  margin-top: 30vh;
  color: white;
  font-size: 60px;
}

#banda .contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#banda {
  background-color: black;
  color: white;
}

.texto-banda h1 {
  font-size: 50px;
  text-align: center;
}

.texto-banda p {
  height: 30vh;
  font-size: 16px;
  text-align: center;
}

.texto-banda h4 {
  padding-bottom: 20px;
  text-align: center;
}

.foto-banda {
  margin-bottom: 30px;
}

img {
  box-shadow: 0 0 20px 0 rgba(117, 115, 115, 0.5);
}

footer {
  text-align: center;
  padding: 60px;
  background: #323232;
  color: white;
}

footer i {
  margin: 5px;
  padding: 10px;
  background-color: #212121;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-redes,
a {
  margin: 0px;
  padding: 4px;
}

@media (max-width: 800px) {
  header .contenedor {
    width: 100%;
  }

  .contenedor > * {
    padding: 1em;
  }

  .nav {
    flex-direction: column;
    background-color: #323232;
  }

  .nav h2 {
    text-align: center;
    font-size: 24px;
  }

  .nav ul {
    text-align: center;
  }

  .titular {
    padding: 250px 0px !important;
  }

  .titular h1 {
    margin-top: auto;
    font-size: 30px;
  }

  .texto-banda h1 {
    font-size: 20px;
  }

  .texto-banda h4 {
    font-size: 12px;
  }

  .texto-banda p {
    font-size: 11px;
  }

  .foto-banda {
    margin: 0;
  }

  footer {
    padding: 10px;
  }

  footer h2 {
    padding: 0 !important;
  }
}
