* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit";
  color: white;
}

.contenedor {
  margin: auto;
  max-width: 1280px;
  width: 90%;
}

header .contenedor {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-image: linear-gradient(
      8deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/pages/Images/peakpx.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header nav {
  display: flex;
  text-align: center;
}

header a {
  color: white;
  padding: 5px 32px;
  font-weight: bold;
  text-decoration: none;
}

p.logo {
  margin: 0;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 1.35em;
  color: white;
}

.menu-icon {
  cursor: pointer;
}

.titular {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.titular h1 {
  font-size: 70px;
}

#datos {
  background: black;
}

.contact {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 40%);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  background: #222222;
}

.contact > * {
  padding: 1em;
}

.form_contact {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.block {
  grid-column: 1 / 3;
}

div.input__group {
  margin: 2em 0;
  position: relative;
  --color: #5757577e;
}

.form_input,
button,
textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid var(--color);
}

.form_submit {
  font-size: 1em;
  background-color: white;
  color: #212121;
  border-radius: 14px;
  border: 0;
  text-transform: uppercase;
  padding: 0.5;
}

.form_contact button:hover,
.form_contact button:focus {
  background-color: black;
  color: white;
  transition: 0.4s;
  cursor: pointer;
  outline: 0;
}

.form_label {
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 1px;
  background: white;
  transform: scale(0);
  transform: left bottom;
  transition: transform 2s;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: black;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line {
  transform: scale(1);
}

.contratacion,
.manager {
  text-align: center;
  padding: 99px 0;
}

.contratacion,
.manager,
ul {
  list-style: none;
}

footer {
  text-align: center;
  padding: 60px;
  background: #323232;
  color: white;
}

footer i {
  margin: 5px;
  padding: 10px;
  background-color: #212121;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

@media (max-width: 800) {
  * {
    padding: 0 4rem;
  }

  .contenedor {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contenedor > * {
    padding: 2em;
  }

  header {
    flex-direction: column;
  }

  header .logo-y-menu {
    justify-content: space-between;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: auto;
  }

  nav {
    width: 100%;
    display: none;
  }

  .contratacion,
  .manager,
  ul {
    padding: 1em;
  }

  .contratacion,
  .manager {
    font-size: 2px;
  }
}
