* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit";
  color: white;
}

.contenedor {
  margin: auto;
  max-width: 1280px;
  width: 90%;
}

header {
  background-image: linear-gradient(
      8deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/pages/Images/music.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  margin: 12px;
}

li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}

li a:hover {
  background-color: white;
  color: #212121;
  transition: 0.5s;
  padding: 8px;
  border-radius: 12px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  max-width: 992px;
  margin: 0 auto;
}

.titular h1 {
  text-align: center;
  margin-top: 30vh;
  color: white;
  font-size: 60px;
}

.animate__animated {
  transition: 4s;
}

.titular {
  text-align: center;
  padding-bottom: 320px;
}

#music {
  background: #212121;
}

#music .contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.foto-ultimo {
  padding-top: 32px;
}

.foto-ultimo img {
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.8);
}

#music h4 {
  margin-left: 20px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  width: 125px;
  background-color: white;
  border-radius: 7px;
  color: black;
  text-align: center;
  font-size: 14px;
}

#music h3,
div.texto-ultimo h2 {
  padding: 10px 20px;
  text-align: center;
}

.texto-ultimo {
  margin-top: 20px;
}

#music h3 {
  font-size: small;
  line-height: 18px;
}

#music img {
  width: 100%;
  position: relative;
}

#albums {
  background: #212121;
  color: white;
  text-align: center;
  padding: 60px 0px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px 24px;
  padding: 20px;
}

.grid-layout h2 {
  font-size: 13px;
}

.grid-layout img {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
}

img:hover {
  animation-name: hover;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

footer {
  text-align: center;
  padding: 60px;
  background: #323232;
  color: white;
}

footer i {
  margin: 5px;
  padding: 10px;
  background-color: #212121;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-redes,
a {
  margin: 0px;
  padding: 4px;
}

@keyframes hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@media (max-width: 800px) {
  header .contenedor {
    width: 100%;
  }

  .contenedor > * {
    padding: 1em;
  }

  p {
    font-size: 14px;
  }

  .nav {
    flex-direction: column;
    background-color: #323232;
  }

  .nav h2 {
    text-align: center;
    font-size: 16px;
  }

  .nav ul {
    text-align: center;
  }

  .titular {
    padding: 250px 0px !important;
  }

  .titular h1 {
    margin-top: auto;
    font-size: 30px;
  }

  #music .contenedor {
    flex-direction: column;
  }

  #music h4 {
    margin-left: 84px !important;
  }

  #albums {
    padding: 30px 0px;
  }

  .grid-layout {
    grid-template-columns: 1fr;
  }

  .grid-layout h2 {
    font-size: 16px;
    width: 98%;
    margin-left: 3px;
  }

  footer {
    padding: 10px;
  }

  footer h2 {
    padding: 0 !important;
  }
}
