* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit";
}

.contenedor {
  margin: auto;
  max-width: 1280px;
  width: 90%;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-image: linear-gradient(
      8deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/pages/Images/index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header .contenedor {
  display: flex;
  align-items: center;
}

p.logo {
  margin: 0;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 1.35em;
  color: white;
}

header nav {
  display: flex;
  text-align: center;
}

header a {
  color: white;
  padding: 5px 32px;
  font-weight: bold;
  text-decoration: none;
}

.menu-icon {
  cursor: pointer;
}

.boton {
  color: black;
  background-color: white;
  padding: 24px 30px;
  line-height: 10px;
}

.titular h1 {
  text-align: center;
  color: white;
  margin-top: 30vh;
}

.titular {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

div.botones {
  padding-bottom: 375px;
}

.botones a {
  background: grey;
  border-radius: 17px;
  padding: 5px;
}

.music {
  background: white !important;
  color: #212121;
}

h1 {
  color: black;
  font-size: 60px;
}

#discography .contenedor {
  display: flex;
  align-items: center;
}

#discography {
  background: #212121;
  color: white;
}

#discography h4 {
  margin: 0px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: yellow;
  width: 125px;
  border-radius: 10px;
  color: black;
}

#discography h2 {
  color: yellow;
  font-size: 40px;
  font-family: "Playfair Display SC", serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

#discography h3 {
  font-size: small;
  line-height: 18px;
  padding-right: 20px;
}

.foto-sencillo img {
  width: 100%;
  padding: 20px 0;
}

#discography .texto-de-album {
  width: 70%;
}

audio {
  margin-left: 18px;
}

#aboutus {
  padding: 75px 0;
}

.cajas-de-textos {
  display: flex;
}

.caja-de-texto-1 p {
  padding-top: 1rem;
  padding-right: 2rem;
}

.caja-de-texto-1 h2 {
  padding-top: 1rem;
}

.caja-de-texto-2 {
  padding-top: 67px;
}

#aboutus h4 {
  text-align: center;
  background-color: #212121;
  color: white;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  width: 125px;
  border-radius: 10px;
}

div.botones2 {
  padding-top: 10px;
}

div.botones2 a {
  border-radius: 10px;
  border: 1px solid;
  background-color: #212121;
  border-color: black;
  padding: 4px;
  margin: 8px;
}

#news {
  padding: 60px 0;
  background: #323232;
}

#news .contenedor {
  display: flex;
}

.foto {
  width: 100%;
  display: flex;
}

#news h4 {
  background: black;
  color: white;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  width: 125px;
  border-radius: 10px;
}

div.signup {
  color: white;
  padding: 0 40px;
}

div.signup p {
  padding: 20px 0;
}

.formulario form {
  margin: auto;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 30%);
  color: black;
  text-align: center;
}

.contenedor-formulario {
  display: grid;
  margin-top: 3em;
  gap: 2em;
}

.formulario h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.input__group {
  position: relative;
  --color: #5757577e;
}

.form_input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: black;
}

.form_label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form_submit {
  font-weight: 300;
  background: black;
  color: white;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  margin-top: 2em;
  cursor: pointer;
}

.form_submit:hover {
  background-color: grey;
  transition: 0.8s;
}

.form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 1px;
  background: black;
  transform: scale(0);
  transform: left bottom;
  transition: transform 2s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line {
  transform: scale(1);
}

footer {
  text-align: center;
  padding: 60px;
  background: #323232;
  color: white;
}

footer i {
  margin: 5px;
  padding: 10px;
  background-color: #212121;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  header .contenedor {
    justify-content: space-between;
  }

  nav {
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    width: 90%;
    position: absolute;
    top: 60px;
  }

  nav a {
    color: black;
  }

  .titular h1 {
    font-size: 36px;
  }

  #discography .contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #discography,
  h2 {
    font-size: 33px !important;
  }

  #discrography,
  .texto-de-album h4 {
    font-size: 16px;
    margin: 16px !important;
    margin-left: 55px !important;
  }

  .foto-sencillo img {
    width: 100%;
    padding: 20px 40px;
  }

  #aboutus {
    padding: 20px;
  }

  #aboutus h4 {
    margin-left: 85px;
  }

  div .botones2 {
    display: inline-grid;
    justify-items: start;
  }

  #news .contenedor {
    flex-flow: column wrap;
  }

  #news h2 {
    font-size: 20px;
  }

  .formulario h2 {
    font-size: 2rem;
  }
}
